#clients {
	background: #be95c3;
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#clients h1 {
	text-align: center;
	color: white;
	font-size: 2.5rem;
	font-weight: 900;
	text-transform: uppercase;
	filter: drop-shadow(2px 4px 6px black);
	padding: 2rem;
}

#clients article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
}

.rotating-card {
	width: 300px;
	height: 300px;
	perspective: 1000px;
	background: transparent;
	margin: 2rem;
}

.front-rotating-card img {
	width: 300px;
	height: 300px;
	background-size: cover;
	border-radius: 0.5rem;
}

.rotating-card-inside {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.rotating-card:hover .rotating-card-inside {
	transform: rotateY(180deg);
}

.front-rotating-card, .rotating-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	box-shadow: 0.1rem 0.5rem 1rem black;
}

.front-rotating-card {
	background: #461f7c;
	color: #fff;
	border-radius: 1rem;
}

.front-rotating-card p {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	left: .8rem;
	bottom: .8rem;
	font-size: .8em;
	padding: .8rem;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
}

.front-rotating-card span {
	font-size: 1em;
	font-weight: 700;
}


.rotating-card-back {
	background: #461f7c;
	color: white;
	transform: rotateY(180deg);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

.rotating-card .rotating-card-back h2 {
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 1.5rem;
}

.rotating-card .rotating-card-back p {
	font-size: .9em;
	font-weight: 500;
	color: #fff;
	padding: 0 1.5rem;
}

.rotating-card .rotating-card-back i {
	transform: rotate(180deg);
	font-size: 3rem;
	color: white;
}
