* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home {
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	background-image: url("../images/fundo-home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.digitando {
	position: absolute;
	top: 40vh;
	display: flex;
}

.digitando h1 {
	margin: 0 5rem;
	padding: 0.5rem;
	color: white;
	overflow: hidden;
	border-right: 0.5rem solid purple;
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 800;
	letter-spacing: 0.1rem;
	text-shadow: 0.1rem 0.3rem 0.2rem black;
	animation: digitando 4s steps(30, end) infinite,
	blink-animation 0.5s step-end infinite;
}

@keyframes digitando {
	from {
		width: 0
	}
	to {
		width: 100%
	}
}

@keyframes blink-animation {
	from, to {
		border-color: transparent
	}
	50% {
		border-color: purple
	}
}

.area-campo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 2rem 0 0 0;
}

.titulo-campo-fundo {
	position: absolute;
	left: 6rem;
	margin: 3rem 0;
	right: 6rem;
	padding: 3rem;
	background: #984d9894;
	box-sizing: border-box;
	transition: 0.5s;
	text-align: center;
}

.titulo-campo-fundo h2 {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 2.2rem;
	transition: 0.5s;
	text-transform: uppercase;
	font-weight: 800;
	filter: drop-shadow(2px 4px 6px black);
}

.titulo-campo {
	height: 40vh;
	width: 100%;
}

#area-cliente {
	background: #ffffff3b url("../images/fundo-area-cliente.jpeg") no-repeat fixed;
	background-size: cover;
	height: 100vh;
	padding: 4rem 0;
	background-blend-mode: color-dodge;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#area-cliente h2 {
	color: white;
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 800;
	filter: drop-shadow(2px 4px 6px black);
}

#area-cliente hr {
	width: 7rem;
	height: 1rem;
	background: white;
	border: none;
	margin: 0;
	filter: drop-shadow(2px 4px 6px black);
}

#area-cliente ul {
	margin: 5rem;
}

#area-cliente li {
	list-style-type: square;
	color: white;
	filter: drop-shadow(2px 4px 6px black);
	margin: 1rem;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
}

#area-cliente button {
	background: white;
	width: 25rem;
	padding: 1rem;
	filter: drop-shadow(2px 4px 6px black);
	cursor: pointer;
	text-transform: uppercase;
	color: #984d98;
	font-weight: 800;
	font-size: 1.5rem;
	text-shadow: 0.1rem 0.1rem 0.1rem black;
	border: 0.1rem solid white;
	box-sizing: border-box;
	overflow: hidden;
}

#area-cliente button:hover {
	color: white;
	transition: width 1s;
}

#area-cliente button::before {
	content: "";
	position: absolute;
	top: 0;
	left: -20px;
	width: 0;
	height: 150%;
	background: #984d98;
	transform: skewX(35deg);
	z-index: -10;
	transition: width 0.5s;
}

#area-cliente button:hover::before {
	width: 120%;
}

#area-cliente .img-area-cliente {
	width: 50%;
	overflow: hidden;
}

#area-cliente .img-area-cliente img {
	width: 100%;
	filter: drop-shadow(2px 4px 6px black);
}

.topo {
	display: flex;
	justify-content: flex-end;
}

.topo :hover {
	background: black;
}

.topo :active {
	box-shadow: black 0rem 0.1rem 0.1rem;
	transition: 0.2s;
}

.botao-topo {
	position: fixed;
	z-index: 2;
	bottom: 2rem;
	border-radius: 50%;
	border: 0.1rem white solid;
	margin: 1rem;
	padding: 0.5rem 0.5rem;
	width: 3.5rem;
	height: 3.5rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	background: #000000b0;
	cursor: pointer;
	box-shadow: black 0.1rem 0.5rem 0.8rem;
	transition: 0.3s ease-in;
}

::-webkit-scrollbar {
	width: 1.5rem;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 1rem;
	height: 4rem;
	border: 0.3rem solid black;
}