#services {
	padding: 3rem;
}

#services article {
	display: flex;
	width: 200px;
	flex-wrap: wrap;
}

#services .area-card {
	display: flex;
	justify-content: center;
	gap: 3rem;
	padding: 2rem 0;
}

#services .card {
	position: relative;
	width: 350px;
	height: 300px;
	background: #984d98;
	color: #ffffff;
	text-align: center;
	border: 0.2rem solid #111;
	overflow: hidden;
	filter: drop-shadow(2px 4px 6px black);
	margin: 1rem;
}

#services .card-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(-300px);
	transition: transform 0.8s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#services .card-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.8s 0.5s;
}

#services .card-titulo {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: purple;
	padding: 2rem;
	width: 100%;
	background: #ffffff;
	filter: drop-shadow(2px 4px 6px black);
	text-shadow: 0 0 black;
}

#services .card-descricao {
	font-size: 1em;
}

#services .card .saiba-mais {
	display: inline;
	background: #ffffff;
	color: purple;
	transition: 0.5s;
	padding: 0.8vw 1rem;
	width: 10rem;
	font-size: 1rem;
}

#services .card .saiba-mais:hover {
	background: purple;
	color: #ffffff;
}

#services .card:hover .card-info {
	transform: translateY(0px);
}

#services .card:hover .card-img {
	transform: translateX(350px);
	transition-delay: 0s;
}