#where-are-we {
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
}

#where-are-we .location {
	background: url("../images/background/onde-estamos.png") no-repeat fixed 90%;
	/*background-position: 90%;*/
	background-size: cover;
	height: 100vh;
	padding: 2rem;
}

#where-are-we .div-h2 {
	background: #80008070 url("../images/background/mapa-titulo.jpeg") no-repeat center;
	background-size: cover;
	background-blend-mode: darken;
	height: 25vh;
}

#where-are-we h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 800;
	color: white;
	margin: 4rem;
	filter: drop-shadow(2px 4px 6px black);
}

#where-are-we h3 {
	margin: 1rem 2rem;
	font-size: 2.5rem;
	font-weight: 800;
	width: 50rem;
	color: #747474;
}

#where-are-we h3 span {
	font-weight: 800;
	color: #d85d60;
}

.map {
	margin: 2rem;
	width: 30rem;
	height: 20rem;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.5rem 1rem black;
}

iframe {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}