.content {
	position: relative;
	height: 95vh;
	width: 100%;
	overflow: hidden;
}

.content .slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 400%;
	height: 100%;
	float: left;
	animation: anima 15s linear infinite;
}

.content .slider .slide {
	position: relative;
	width: 25%;
	height: 100%;
	float: left;
}

.content .slider .slide .caption {
	position: absolute;
	bottom: 20vh;
	left: 6rem;
	right: 6rem;
	padding: 3rem;
	background: rgb(0, 0, 0, 0.5);
	box-sizing: border-box;
	transition: 0.8s;
	color: white;
}

.content .slider .slide .caption h2 {
	font-size: 3rem;
}

.content .slider .slide .caption p {
	font-size: 1.2rem;
}

.content .slider .slide.slide1 {
	background: url("../images/slides/missao.jpg") no-repeat center;
	background-size: cover;
}

.content .slider .slide.slide2 {
	background: url("../images/slides/historia.jpg") no-repeat center;
	background-size: cover;
}

.content .slider .slide.slide3 {
	background: url("../images/slides/valores.jpg") no-repeat center;
	background-size: cover;
}

.content .slider .slide.slide4 {
	background: url("../images/slides/servicos.jpg") no-repeat center;
	background-size: cover;
}

@keyframes anima {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -300%;
	}
}

.who-are-we {
	text-align: center;
	padding: 2rem;
	margin: 2rem;
}

.who-are-we h1, #services section h1 {
	color: purple;
	padding: 2rem 0;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.who-are-we p {
	font-size: 1.2rem;
	line-height: 1.5;
	margin: auto;
	width: 80%;
}

.you-can-trust-area, .our-differential-area {
	padding: 3rem 2rem;
}

.you-can-trust-area h3, .our-differential-area h3 {
	padding: 0 0 7rem 0;
	font-size: 2.1rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.you-can-trust-area > h3 > span, .our-differential-area > h3 > span {
	color: purple;
	font-weight: 800;
	font-size: 2.2rem;
	text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.you-can-trust-container, .our-differential-container {
	display: flex;
	gap: 3rem;
	justify-content: center;
}

.you-can-trust-content, .our-differential-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.you-can-trust-content > span, .our-differential-content > span {
	position: absolute;
	top: -3rem;
}

.you-can-trust-content span > i {
	font-size: 5rem;
	color: purple;
	filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
}

.you-can-trust-text, .our-differential-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	width: 20rem;
	height: 8rem;
	background: white;
	margin: 1rem;
	padding: 1.5rem;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.5rem 1rem black;
}

.our-differential-text {
	height: 14rem;
	border-radius: 0;
}

.you-can-trust-text p, .our-differential-text p {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: .9em;
	font-weight: 500;
}

.you-can-trust-text p span, .our-differential-text p span {
	color: purple;
	font-size: 1.5em;
	font-weight: bold;
	margin: .8rem;
}

.our-differential-content > span {
	background: purple;
	padding: 2rem;
	height: 7rem;
	width: 7rem;
	text-align: center;
	border-radius: 50%;
	border: white solid 0.15rem;
	box-shadow: 0.1rem 0.2rem 0.5rem black;
}

.our-differential-content span i {
	font-size: 2.5rem;
	color: white;
}